PYTHONDONTWRITEBYTECODE=1

# Completa únicamente las API_KEY de los proveedores que vayas a usar.
# No es necesario configurar claves para todos los servicios.

# PROVIDER SECRETS:
OLLAMA_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
HUGGING_FACE_API_KEY=
